<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>NewsClassifier</title>
</head>
<body>
		<form action = "/setcookie" method = "POST">
         <p>Username: <input type = 'text' name = 'username'/></p>
				 <p>Password: <input type="password" name="password"></input></p>
         <p><input type = 'submit' value = 'Login'/></p>
      </form>
</body>
</html>
